Repository gemini-hlsw/lucuma-sso: changes, and which Mergify rules are due for each by the changed paths.
All: Label backend-client PRs, Label backend-example PRs, Label frontend-client PRs, Label service PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label backend-client PRs
  conditions:
  - files~=^modules/backend-client/
  actions:
    label:
      add:
      - backend-client
      remove: []
- name: Label backend-example PRs
  conditions:
  - files~=^modules/backend-example/
  actions:
    label:
      add:
      - backend-example
      remove: []
- name: Label frontend-client PRs
  conditions:
  - files~=^modules/frontend-client/
  actions:
    label:
      add:
      - frontend-client
      remove: []
- name: Label service PRs
  conditions:
  - files~=^modules/service/
  actions:
    label:
      add:
      - service
      remove: []

initial test
  modules/service/src/main/resources/Sso.graphql
  modules/service/src/main/scala/graphql/SsoMapping.scala
  modules/service/src/test/scala/GraphQLSuite.scala
  modules/service/src/test/scala/orcid/OrcidIdGenerator.scala
  modules/service/src/test/scala/simulator/OrcidSimulator.scala
Due: Label service PRs

ServiceUser | StandardUser
  modules/service/src/main/scala/Main.scala
  modules/service/src/main/scala/graphql/GraphqlRoutes.scala
  modules/service/src/main/scala/graphql/SsoMapping.scala
Due: Label service PRs

return User
  modules/service/src/main/resources/Sso.graphql
  modules/service/src/main/scala/graphql/SsoMapping.scala
  modules/service/src/test/scala/GraphQLSuite.scala
Due: Label service PRs

SsoGraphQlClient
  build.sbt
  modules/backend-client/src/main/scala/SsoGraphQlClient.scala
  modules/service/src/main/scala/database/Database.scala
  modules/service/src/test/scala/SsoGraphQlClientSuite.scala
  modules/service/src/test/scala/simulator/SsoSimulator.scala
Due: Label backend-client PRs, Label service PRs

drop fallback
  modules/backend-client/src/main/scala/SsoGraphQlClient.scala
  modules/service/src/main/resources/Sso.graphql
  modules/service/src/main/resources/db/migration/V005__Fallback.sql
  modules/service/src/main/scala/database/Database.scala
  modules/service/src/main/scala/graphql/SsoMapping.scala
  modules/service/src/main/scala/graphql/SsoTables.scala
  modules/service/src/main/scala/orcid/OrcidName.scala
  modules/service/src/test/scala/Fixture.scala
  modules/service/src/test/scala/GraphQLSuite.scala
  modules/service/src/test/scala/NewUserSuite.scala
  modules/service/src/test/scala/SsoGraphQlClientSuite.scala
Due: Label backend-client PRs, Label service PRs

Remove no-longer used Matcher and friends
  modules/service/src/main/scala/graphql/Matcher.scala
  modules/service/src/main/scala/graphql/ObjectBinding.scala
  modules/service/src/main/scala/graphql/ObjectFieldsBinding.scala
  modules/service/src/main/scala/graphql/PrimitiveBinding.scala
  modules/service/src/main/scala/graphql/StringBinding.scala
Due: Label service PRs

Remove the pre-auth user funny business
  modules/backend-client/src/main/scala/SsoGraphQlClient.scala
  modules/service/src/main/resources/Sso.graphql
  modules/service/src/main/scala/Main.scala
  modules/service/src/main/scala/database/Database.scala
  modules/service/src/main/scala/graphql/GraphqlRoutes.scala
  modules/service/src/main/scala/graphql/SsoMapping.scala
  modules/service/src/test/scala/GraphQLSuite.scala
  modules/service/src/test/scala/SsoGraphQlClientSuite.scala
  modules/service/src/test/scala/simulator/SsoSimulator.scala
Due: Label backend-client PRs, Label service PRs

update build
  build.sbt
Due: none

Update lucuma-core to v0.112.1
  build.sbt
Due: none

update core to 0.113.0
  build.sbt
Due: none

rebase
  build.sbt
Due: none

Update core
  build.sbt
Due: none

test
  modules/service/src/test/scala/issue/shortcut/3485.scala
Due: Label service PRs

add createJwt command
  modules/service/src/main/scala/Main.scala
Due: Label service PRs

doc, procfile
  Procfile
  README.md
Due: none

cleanup
  modules/service/src/main/scala/Main.scala
Due: Label service PRs

oops
  modules/service/src/main/scala/Main.scala
Due: Label service PRs

loosen email requirements
  modules/service/src/main/scala/orcid/OrcidPerson.scala
Due: Label service PRs

Revert "Update flyway-core to 11.3.0"
  build.sbt
Due: none

Update test libs
  build.sbt
Due: none

Update flyway
  build.sbt
Due: none

bump core
  build.sbt
Due: none

Lib and scala updates
  build.sbt
  modules/service/src/main/scala/Routes.scala
  modules/service/src/main/scala/graphql/SsoMapping.scala
  modules/service/src/test/scala/SsoClientSuite.scala
  modules/service/src/test/scala/simulator/OrcidSimulator.scala
Due: Label service PRs

core 119
  build.sbt
Due: none

Update lucuma-core and grackle
  build.sbt
Due: none

bump core version
  build.sbt
Due: none

fix type
  build.sbt
Due: none

Update lucuma-core
  build.sbt
Due: none

core-update
  build.sbt
Due: none

Update to core v0.129.0
  build.sbt
Due: none

update core
  build.sbt
Due: none

Scala 3.7.0
  build.sbt
  modules/backend-client/src/main/scala/SsoClient.scala
  modules/service/src/main/scala/config/Config.scala
  modules/service/src/main/scala/config/HerokuConfig.scala
  project/plugins.sbt
Due: Label backend-client PRs, Label service PRs

bump sbt-lucuma
  project/plugins.sbt
Due: none
