Repository gemini-hlsw/lucuma-sso: changes, and which Mergify rules are due for each by the changed paths.
All: Label backend-client PRs, Label backend-example PRs, Label frontend-client PRs, Label service PRs

Label backend-client PRs:
  label:
    add:
    - backend-client
    remove: []

Label backend-example PRs:
  label:
    add:
    - backend-example
    remove: []

Label frontend-client PRs:
  label:
    add:
    - frontend-client
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Update scala and apply linting rules
  .github/workflows/ci.yml
  .mergify.yml
  .scalafmt-common.conf
  .scalafmt.conf
  build.sbt
  modules/service/src/main/scala/Main.scala
  modules/service/src/main/scala/graphql/SsoMapping.scala
  modules/service/src/test/scala/ApiKeySuite.scala
  modules/service/src/test/scala/GraphQLSuite.scala
  modules/service/src/test/scala/SsoClientSuite.scala
  project/plugins.sbt
Due: Label service PRs

Update to lucuma-core v0.80.2
  build.sbt
Due: none

set-role
  README.md
  modules/service/src/main/scala/Routes.scala
  modules/service/src/main/scala/database/Database.scala
  modules/service/src/test/scala/SetRoleSuite.scala
Due: Label service PRs

scalafix
  modules/service/src/test/scala/SetRoleSuite.scala
Due: Label service PRs

java 17
  system.properties
Due: none

add logging for JWT verification failure
  build.sbt
  modules/backend-client/src/main/scala/SsoClient.scala
  modules/backend-example/src/main/scala/Config.scala
  modules/backend-example/src/main/scala/Main.scala
Due: Label backend-client PRs, Label backend-example PRs

Update to core v0.82.0
  build.sbt
Due: none

Update lucuma-core
  build.sbt
Due: none

Update core
  build.sbt
Due: none

Update lucuma-core v0.87.0
  build.sbt
Due: none

lucuma-core-v0.88.0
  build.sbt
Due: none

update deps
  build.sbt
  docker-compose.yml
  modules/service/src/main/scala/Main.scala
  modules/service/src/main/scala/database/Codecs.scala
  modules/service/src/main/scala/database/Database.scala
  modules/service/src/main/scala/graphql/GraphqlRoutes.scala
  modules/service/src/main/scala/graphql/SsoMapping.scala
  modules/service/src/main/scala/graphql/SsoTables.scala
  modules/service/src/test/scala/simulator/SsoSimulator.scala
Due: Label service PRs

update deps for cats-parse 1.0
  build.sbt
Due: none

Library Updates
  build.sbt
Due: none

lucuma-core v0.91.0
  build.sbt
Due: none

bump lucuma-core
  build.sbt
Due: none

Revert "Update flyway-core to 10.8.1"
  build.sbt
Due: none

Compile warning
  modules/service/src/test/scala/config/HerokuConfigSuite.scala
Due: Label service PRs

Update to lucuma-core v0.93.0
  build.sbt
Due: none

Update lucuma-core
  .envrc
  .gitignore
  build.sbt
  flake.lock
  flake.nix
  modules/frontend-client/shared/src/test/scala/ArbStandardRole.scala
  modules/frontend-client/shared/src/test/scala/ArbUser.scala
  modules/frontend-client/shared/src/test/scala/CodecSuite.scala
Due: Label frontend-client PRs

downgrade flyway
  build.sbt
Due: none

core 0.97.0
  build.sbt
Due: none

Lucuma-core update
  build.sbt
  modules/frontend-client/shared/src/main/scala/codec/RoleCodec.scala
  modules/frontend-client/shared/src/test/scala/ArbStandardRole.scala
  modules/service/src/main/scala/database/Codecs.scala
  modules/service/src/main/scala/database/RoleRequest.scala
  modules/service/src/main/scala/graphql/SsoMapping.scala
Due: Label frontend-client PRs, Label service PRs

Update lucuma-core to v0.99.1
  build.sbt
Due: none

Update core version
  build.sbt
Due: none

bump core
  build.sbt
Due: none

lucuma-core 0.103.0
  build.sbt
Due: none

update sbt-lucuma-lib
  .github/workflows/ci.yml
  project/plugins.sbt
Due: none

library updates
  build.sbt
  modules/service/src/main/scala/graphql/SsoMapping.scala
Due: Label service PRs

Downgrade scala to 3.5.2, upgrade core to 0.106.1
  build.sbt
Due: none

Update lucuma-core to 0.107.0
  build.sbt
Due: none

core 108
  build.sbt
Due: none

adds revolver
  README.md
  build.sbt
  modules/service/src/main/scala/Main.scala
  project/plugins.sbt
Due: Label service PRs

Work with fallback
  build.sbt
  modules/frontend-client/shared/src/main/scala/codec/UserCodec.scala
  modules/frontend-client/shared/src/main/scala/codec/UserProfileCodec.scala
  modules/frontend-client/shared/src/test/scala/CodecSuite.scala
  modules/service/src/main/resources/Sso.graphql
  modules/service/src/main/resources/db/migration/V005__Fallback.sql
  modules/service/src/main/scala/Main.scala
  modules/service/src/main/scala/database/Database.scala
  modules/service/src/main/scala/graphql/GraphqlRoutes.scala
  modules/service/src/main/scala/graphql/Matcher.scala
  modules/service/src/main/scala/graphql/ObjectBinding.scala
  modules/service/src/main/scala/graphql/ObjectFieldsBinding.scala
  modules/service/src/main/scala/graphql/PrimitiveBinding.scala
  modules/service/src/main/scala/graphql/SsoMapping.scala
  modules/service/src/main/scala/graphql/SsoTables.scala
  modules/service/src/main/scala/graphql/StringBinding.scala
  modules/service/src/main/scala/orcid/OrcidName.scala
  modules/service/src/test/scala/Fixture.scala
  modules/service/src/test/scala/GraphQLSuite.scala
  modules/service/src/test/scala/NewUserSuite.scala
Due: Label frontend-client PRs, Label service PRs

pre auth user
  modules/service/src/main/resources/Sso.graphql
  modules/service/src/main/scala/database/Database.scala
  modules/service/src/main/scala/graphql/SsoMapping.scala
Due: Label service PRs

mima
  build.sbt
Due: none

Path conditions:
  Label backend-client PRs: any of: ^modules/backend-client/
  Label backend-example PRs: any of: ^modules/backend-example/
  Label frontend-client PRs: any of: ^modules/frontend-client/
  Label service PRs: any of: ^modules/service/
